/* Header css */


.header__top {
    background-color: #ededed;
    height: var(--height);
}

.social__header-container {
    display: flex;
    justify-content: flex-end;

}

.social__header {
    line-height: var(--height);
}

.social__header-link {
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 16px;
}

.social__header-link:last-child {
    margin-right: 0;
}

.social__header-link:hover .social__header-icon{
    color: var(--green-color);
}

.social__header-icon {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.center-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__center {
    display: flex;
    align-items: center;
    height: 134px;
}

.header__center-left {
    display: flex;
    align-items: center;
}

.header__logo {
    border-right: 1px solid #b7b7b7;
    margin-right: 24px;
    padding-right: 24px;
}

.header__logo-link {
    display: block;
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 210px;
    height: 102px;
}

.header__slogan {
    font-size: 1.8rem;
    color: var(--text-color);
}

.header__center-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__contact {
    position: relative;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.header__contact-phone {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.header__contact-icon {
    position: absolute;
    left: -28px;
    font-size: 1.5rem;
    color: orangered;
    margin-right: 12px;
}

.header__contact-email {
    font-size: 1.5rem;
    
}

.header__booking {
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    padding: 14px 20px;
    margin: 0 20px;
}

.header__help {
    text-align: center;
}

.header__help-img {
    width: 34px;
    margin-bottom: 6px;
}

.header__help-link {
    text-decoration: none;
}

.header__help-link span{
    display: block;
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
}

.header__help-link:hover span {
    color: var(--green-color);
}

/* Slider */
.slider {
    position: relative;
    height: 730px;
}

.nar__bar {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    position: absolute;
}

.nav__bar-list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav__bar-list > li:first-child > a {
    padding-left: 0;
}

.nav__bar-item {
    text-align: center;
    position: relative;
}

.nav__bar-item-link {
    padding: 16px 20px;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    text-align: center;
    transition: color 0.2s ease 0s;
}

.nav__bar-item-link:hover {
    color: #f58634;
}
/* sub nav */
.nav__bar-item:hover .sub__nav-list {
    display: inline-block;
}
.sub__nav-list {
    position: absolute;
    list-style-type: none;
    background-color: rgba(70, 70, 70, 0.9);
    text-align: left;
    left: 20px;   
    min-width: 160px;
    padding: 0 15px;
    display: none;
}

.sub__nav-item {
    min-width: 171px;
    border-bottom: 1px solid var(--white-color);
}

.sub__nav-item:last-child {
    border-bottom: none;
}

.sub__nav-link {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--white-color);
    padding: 12px 0;
    transition: color 0.2s ease 0s;
}

.sub__nav-link:hover {
    color: #f58634;
}

/* banner slider */
.banner {
    position: absolute;
    top: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
}

.banner__slider {
    position: absolute;
}

.banner__slider-img {
    width: 100%;
}

.banner__content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.banner__content-tiltle {
    font-size: 4rem;
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 48px;
}

.banner__content-description {
    color: var(--white-color);
    font-size: 1.8rem;
}



/* filter options */
.filter__option {
    position: absolute;
    z-index: 3;
    background-color: var(--white-color);
    bottom: -8px;
    display: flex;
    width: inherit;
    box-shadow: 0 0 10px #ccc;
}

.option-list {
    display: flex;
    list-style-type: none;
}

.option-item {
    font-size: 1.4rem;    
    padding: 30px 300px 30px 30px;
    height: 78px;
    border-right: 1px solid #ebebeb;
    display: flex;
    align-items: center;
}

.option-item:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.option-item i{
    font-size: 1.8rem;
}

.option-item span {
    color: #999;
    margin-left: 12px;
}

.btn__search {
    flex: 1;
    outline: none;
    border: none;
    color: var(--white-color);
    background-color: var(--green-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.btn__search:hover {
    cursor: pointer;
    color: #ed1c24;
}

/* Content tours */
.content__tour {
    margin-top: 100px;
}

.destination__introduce,
.recommend__tour,
.travel-styles__introduce {
    text-align: center;
    padding: 0 340px;
    margin-bottom: 54px;
}

.tour__list {
    display: flex;
    flex-wrap: wrap;
}

.destination__introduce h3,
.recommend__tour h3,
.travel-styles__title {
    font-size: 3.6rem;
    color: var(--text-color);
    margin-bottom: 36px;
}

.destination__introduce span,
.recommend__tour span,
.travel-styles__descript {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 3rem;
}

.item__tour {
    background-color: #f1f1f1;
}

.item__tour-img:hover img{
    transition: transform 0.5s ease 0s;
    transform: scale(1.2);
    overflow: hidden;
}

.item__tour-img {
    overflow: hidden;
}

.item__tour-img-link {
    text-decoration: none;
    color: transparent;
}

.item__tour-img img{
    max-width: 100%;
    transition: transform 0.5s ease 0s;
    transform: scale(1);
}

.item__tour-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px;
}

.item__tour-name-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 18px;
    line-height: 1.9rem;
}

.item__tour-name-link:hover {
    color: #ed1c24;
    transition: color 0.3s ease 0s;
}

.item__tour-price {
    font-size: 1.8rem;
    color: #ff9000;
    font-weight: 600;
    margin-bottom: 15px;
}

.item__tour-detail-link {
    font-size: 1.6rem;
    text-decoration: none;
    border: 1px solid;
    background-color: #5efaff;
    border-style: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: var(--white-color);
    background-image: linear-gradient(#5efaff, #40d2d6);
}

.item__tour-detail-link:hover {
    color: #ed1c24;
    transition: color 0.3s ease 0s;
}

.tour__view-all {
    margin-top: 22px;
    text-align: center;
}

.tour__view-all-icon {
    font-size: 1.2rem;
    margin-left: 4px;
}

/* Destination */
.content__destination {
    margin-top: 82px;
}

.destination__list {
    margin-top: 80px;
    width: 100%;
    display: flex;
}

.destination__item {
    width: 25%;
    position: relative;
}

.destination__item:hover .destination__info{
    top: 0;
    bottom: 0;
    height: calc(100% - 3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s;
}

.destination__img {
    max-width: 100%;
}

.destination__img img{
    width: 100%;
}

.destination__info {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(50% - 3px);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 30px;
    transform: translateY(0);
    transition: all 0.4s;
}

.destination__country-link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.7rem;
    position: relative;
    margin-bottom: 40px;
}

.destination__country-link::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    margin-top: 18px;
    display: block;
    border-bottom: 1px solid var(--white-color);
    width: 68px;
}

.destination__country-link:hover {
    color: #ed1c24;
}

.destination__descript {
    display: block;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2rem;
}

.destination__more {
    margin-top: 30px;
    padding: 0 136px;
}

.destination__more-link {
    display: block;
    min-width: 122px;
    text-decoration: none;
    color: var(--white-color);
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 1.4rem;
    background-color: #78dbff;
    background-image: linear-gradient(#78dbff, #02aff0);
}   

.destination__more-link:hover {
    color: #ed1c24;
}

/* travel styles */
.content__travel-style {
    margin-top: 92px;
}

.travel-style__list {
    display: flex;
    flex-wrap: wrap;
}

.travel-style__item {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.travel-style__img {
    overflow: hidden;
    vertical-align: middle;
}

.travel-style__img img{
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.travel-style__img:hover img {
    transform: scale(1.2);
    transition: all 0.5s;
}

.travel-style__item-description {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 20px;
}

.travel-style__item-link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 15px;
}

.travel-style__item-link h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

.travel-style__item-link:hover h4 {
    color: #ed1c24;
    transition: color 0.3s ease 0s;
}

.travel-style__item-info {
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 2.2rem;
}

/* Customer comment */
.content__customer {
    /* height: 700px; */
    margin-top: 38px;
    position: relative;
    padding: 44px 0;
}

.content__customer::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    background-image: url("../img/halongbay-1561535739-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.customer-say {
    margin-top: 12px;
    margin-bottom: 56px;
    text-align: center;
    padding: 0 360px;
}

.customer-title {
    font-size: 3.6rem;
    margin-bottom: 34px;
    color: var(--text-color);
}

.customer-description {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 3.2rem;
}

.customer__item {
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 30px;
}

.customer__info {
    display: flex;
    align-items: center;
}

.customer__img {
    display: block;
}

.customer__name {
    margin-left: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
}

.customer__country {
    font-size: 1.4rem;
    color: #0499ad;
}

.customer__comment {
    margin-top: 22px;
}

.customer__comment p {
    font-size: 1.4rem;
    line-height: 2rem;
}

/* Get in touch */
.content__getintouch {
    padding: 40px 0;
}

.getintouch__contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.getintouch__contact-title {
    margin: 0 0 40px;
    font-size: 1.9rem;
    font-weight: normal;
    color: #000;
}

.getintouch__contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.getintouch__contact-info span {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 2rem;
}

.getintouch__contact-info span:last-child {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

/* contact form */
.form__contact {
    
}

.form__control {
    border: none;
    border-bottom: 1px solid #010101;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    outline: unset;
}

.image__footer img {
    width: 100%;
}

/* Footer */
.footer {
    margin-top: 40px;
}

.footer__logo {
    margin-top: -22px;
    margin-left: -5px;
}

.footer__logo-link {
    text-decoration: none;
    color: transparent;
}

.footer__logo-link img {
    width: 230px;
    max-width: 100%;
}

.footer__contact h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 20px;
}

.contact-info__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-info__item i{
    font-size: 1.8rem;
    margin-right: 15px;
}

.contact-info__item span {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.6rem;
}

.footer__paypal {
    margin-top: 20px;
}

.footer__paypal img {
    max-width: 100%;
}

.footer__category {
    display: flex;
}

.footer__category-sub h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
}

.footer__category-list {
    margin-top: 15px;
    list-style-type: none;
    padding-left: 15px;
}

.footer__category-item {
    padding: 10px 0;
}

.footer__category-link {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
}

.footer__category-link:hover {
    color: #ed1c24;
    transition: color 0.3s ease 0s;
}

.footer__cookie {
    text-align: center;
    padding: 20px 0px;
    position: relative;
}

.footer__cookie::before {
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    top: 0;
    left: 15%;
    right: 15%;
}

.footer__cookie span {
    font-size: 1.2rem;
    color: var(--text-color);
}